* {
    --beige: #F6F1DE;
    --navy: #3E3F5B;
    --teal: #8AB2A6;
    --sage: #ACD3A8;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    background: var(--navy) url("./assets/pictures/pizza.jpg") repeat-y center/cover;
}

header {
    justify-self: center;
    background-color: var(--sage);
    padding: 0 10px;
}

nav {
    display: flex;
    justify-content: space-evenly;
}

#content {
    background-color: var(--beige);
    padding: 10px;
    margin: 0 15%;
    min-height: 400px;
    display: grid;
}

#content>div {
    width: 60%;
    margin: auto;
    background-color: var(--teal);
    padding: 5px;
    align-self: center;
}

@media screen and (min-width: 451px) and (max-width: 700px) {
    #content>div {
        width: 80%;
    }
}

@media screen and (max-width: 450px) {
    #content>div {
        width: 100%;
        margin: 0;
    }
}

h2 {
    text-align: center;
}

#menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.menuItem {
    border: 3px black solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}